{% extends 'courses/python/sttbase.html' %}

{% block title %}Python File Open - TeekaY-X{% endblock %}

{% block content %}

<h2>Open a File</h2>

<p>Assume we have the following file, located in the same folder as Python:</p>

<div class="w3-example">
<p>demofile.txt</p>
<div class="w3-code notranslate">
  Hello! Welcome to demofile.txt<br>This file is for testing purposes.<br>Good 
  Luck!</div>
</div>

<p>To open the file, use the built-in <code class="w3-codespan">open()</code> function.</p>
<p>The <code class="w3-codespan">open()</code> function returns a file object, which has a 
<code class="w3-codespan">read()</code> method for reading the content of the file:</p>

<div class="w3-example">
<h3>Example</h3>
<div class="w3-code notranslate pythonHigh">
  f = open(&quot;demofile.txt&quot;, &quot;r&quot;)<br>print(f.read())</div>

</div>

<p>If the file is located in a different location, you will have to specify the file path, 
like this:</p>

<div class="w3-example">
<h3>Example</h3>
  <p>Open a file on a different location:</p>
<div class="w3-code notranslate pythonHigh">
  f = open(&quot;D:\\myfiles\welcome.txt&quot;, &quot;r&quot;)<br>print(f.read())</div>

</div>

<hr>

<h2>Read Only Parts of the File</h2>

<p>By default the <code class="w3-codespan">read()</code> method returns the whole text, but you can also specify how many characters you want to return:</p>

<div class="w3-example">
<h3>Example</h3>
<p>Return the 5 first characters of the file:</p>
<div class="w3-code notranslate pythonHigh">
  f = open(&quot;demofile.txt&quot;, &quot;r&quot;)<br>print(f.read(<strong>5</strong>))</div>

</div>

<hr>
<div id="midcontentadcontainer" style="overflow:auto;text-align:center">


  <div id="tst"></div>

</div>
<hr>

<h2>Read Lines</h2>


<p>You can return one line by using the <code class="w3-codespan">readline()</code> method:</p>

<div class="w3-example">
<h3>Example</h3>
<p>Read one line of the file:</p>
<div class="w3-code notranslate pythonHigh">
  f = open(&quot;demofile.txt&quot;, &quot;r&quot;)<br>print(f.readline())</div>

</div>


<p>By calling <code class="w3-codespan">readline()</code> two times, you can read the 
two first lines:</p>

<div class="w3-example">
<h3>Example</h3>
<p>Read two lines of the file:</p>
<div class="w3-code notranslate pythonHigh">
  f = open(&quot;demofile.txt&quot;, &quot;r&quot;)<br>print(f.readline())<br>print(f.readline())</div>

</div>

<p>By looping through the lines of the file, you can read the whole file, line by line:</p>

<div class="w3-example">
<h3>Example</h3>
<p>Loop through the file line by line:</p>
<div class="w3-code notranslate pythonHigh">
  f = open(&quot;demofile.txt&quot;, &quot;r&quot;)<br>for x in f:<br>&nbsp; print(x)</div>

</div>
<hr>
<h2>Close Files</h2>

<p>It is a good practice to always close the file when you are done with it.</p>

<div class="w3-example">
<h3>Example</h3>
<p>Close the file when you are finish with it:</p>
<div class="w3-code notranslate pythonHigh">
  f = open(&quot;demofile.txt&quot;, &quot;r&quot;)<br>print(f.readline())<br>
  f.close()</div>

</div>

<div class="w3-panel w3-note">
  <p><strong>Note:</strong> You should always close your files, in some cases, due to buffering, changes made to a file may not show until you close the file.</p>
</div>


{% endblock content %}