{% extends 'courses/python/sttbase.html' %}

{% block title %}Python Introduction - TeekaY-X{% endblock %}

{% block content %}
<!-- Introduction Section -->

  
            <h2 class="mb-4">What is Python?</h2>
            <p>Python is a popular programming language created by Guido van Rossum and released in 1991. It is extensively used for:</p>
            <ul>
                <li>Web development (server-side)</li>
                <li>Software development</li>
                <li>Mathematics</li>
                <li>System scripting</li>
            </ul>

            <h2 class="mt-4 mb-4">What can Python do?</h2>
            <ul>
                <li>Python can be used on a server to create web applications.</li>
                <li>Python can be used alongside software to create workflows.</li>
                <li>Python can connect to database systems, read and modify files.</li>
                <li>Python can handle big data and perform complex mathematics.</li>
                <li>Python is used for rapid prototyping or production-ready software development.</li>
            </ul>

            <h2 class="mt-4 mb-4">Why Python?</h2>
            <ul>
                <li>Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).</li>
                <li>Python has a simple syntax similar to the English language.</li>
                <li>Python allows developers to write programs with fewer lines compared to other languages.</li>
                <li>Python runs on an interpreter system, enabling quick prototyping.</li>
                <li>Python supports procedural, object-oriented, or functional programming.</li>
            </ul>

            <h2 class="mt-4 mb-4">Good to know</h2>
            <ul>
                <li>The most recent major version of Python is Python 3, which will be used in this tutorial.</li>
                <li>Python 2, although not updated, is still quite popular.</li>
                <li>In this tutorial, Python will be written in a text editor, though IDEs like Thonny, PyCharm, Netbeans, or Eclipse are also useful.</li>
            </ul>

            <h2 class="mt-4 mb-4">Python Syntax compared to other programming languages</h2>
            <ul>
                <li>Python was designed for readability, resembling the English language with mathematical influence.</li>
                <li>Python uses new lines to complete a command instead of semicolons or parentheses.</li>
                <li>Python relies on indentation (whitespace) to define scope, unlike other languages using curly-brackets for scope.</li>
            </ul>

  

  
{% endblock %}


