{% extends 'courses/python/sttbase.html' %}

{% block title %}Python Lambda - TeekaY-X{% endblock %}

{% block content %}

  <p class="intro">A lambda function is a small anonymous function.</p>
<p class="intro">A lambda function can take any number of arguments, but can only have one expression.</p>
<hr>

<h2>Syntax</h2>
<div class="w3-code w3-border notranslate">
lambda <em>arguments </em>: <em>expression</em>
</div>

<p>The expression is executed and the result is returned:</p>
<div class="w3-example">
<h3>Example</h3>
  <p>Add 10 to argument <code class="w3-codespan">a</code>, and 
  return the result:</p>
<div class="w3-code notranslate pythonHigh">
  x = lambda a : a + 10<br>print(x(5))</div>

</div>

<p>Lambda functions can take any number of arguments:</p>
<div class="w3-example">
<h3>Example</h3>
  <p>Multiply argument <code class="w3-codespan">a</code> with argument 
  <code class="w3-codespan">b</code> and return the 
  result:</p>
<div class="w3-code notranslate pythonHigh">
  x = lambda a, b : a * b<br>print(x(5, 6))</div>

</div>

<div class="w3-example">
<h3>Example</h3>
  <p>Summarize argument <code class="w3-codespan">a</code>, 
  <code class="w3-codespan">b</code>, and <code class="w3-codespan">c</code> and 
  return the 
  result:</p>
<div class="w3-code notranslate pythonHigh">
  x = lambda a, b, c : a + b + c<br>print(x(5, 6, 
  2))</div>
</div>
<hr>

<hr>
<h2>Why Use Lambda Functions?</h2>

<p>The power of lambda is better shown when you use them as an anonymous 
function inside another function.</p>
<p>Say you have a function definition that takes one argument, and that argument 
will be multiplied with an unknown number:</p>

<div class="w3-example">
<div class="w3-code notranslate pythonHigh">
def myfunc(n):<br>
&nbsp;&nbsp;return lambda a : a * n
</div>
</div>

<p>Use that function definition to make a function that always doubles the 
number you send in:</p>

<div class="w3-example">
<h3>Example</h3>
<div class="w3-code notranslate pythonHigh">
def myfunc(n):<br>
&nbsp;&nbsp;return lambda a : a * n<br>
<br>
  mydoubler = myfunc(2)<br>
  <br>print(mydoubler(11))
</div>

</div>

<p>Or, use the same function definition to make a function that always <em>triples</em> the 
number you send in:</p>

<div class="w3-example">
<h3>Example</h3>
<div class="w3-code notranslate pythonHigh">
def myfunc(n):<br>
&nbsp;&nbsp;return lambda a : a * n<br>
<br>
  mytripler = myfunc(3)<br>
  <br>print(mytripler(11))
</div>
</div>

<p>Or, use the same function definition to make both functions, in the same 
program:</p>

<div class="w3-example">
<h3>Example</h3>
<div class="w3-code notranslate pythonHigh">
def myfunc(n):<br>
&nbsp;&nbsp;return lambda a : a * n<br>
<br>
  mydoubler = myfunc(2)<br>mytripler = myfunc(3)<br>
  <br>print(mydoubler(11))
<br>print(mytripler(11))
</div>
</div>

<div class="w3-panel w3-note">
  <p>Use lambda functions when an anonymous function is required for a short period of time.</p>
</div>

{% endblock %}
