{% extends 'courses/python/sttbase.html' %}

{% block title %}Python Getting started - TeekaY-X{% endblock %}

{% block content %}

        <h2>Python Install</h2>
        <p>Many PCs and Macs will have Python already installed.</p>
        <p>To check if you have Python installed on a Windows PC, search in the start bar for Python or run the following on the Command Line (cmd.exe):</p>
        <div class="w3-example">
          <div class="w3-code notranslate w3-black">
            python --version
          </div>
        </div>
        <h5>PC</h5>
        <p>If you find that you do not have Python installed on your computer, then you can download it for free from the following website: <a href="https://www.python.org/" target="_blank">https://www.python.org/</a></p>
        <h5>Android Mobile</h5>
        <p>Run Python on Android with Pydroid3 download on the Google Play Store :
              
          <a  class='btn btn-primary' href="https://play.google.com/store/apps/details?id=ru.iiec.pydroid3&hl=en&gl=US" target="_blank">Pydroid3</a>

       </p>
        
        <hr>
        <h2>Python Quickstart</h2>
        <p>Python is an interpreted programming language, meaning that as a developer, you write Python (.py) files in a text editor and then execute those files using the Python interpreter.</p>
        <div class="w3-example">
          <div class="w3-code notranslate w3-black">
            C:\Users\<em>Your Name</em>&gt;python helloworld.py
          </div>
        </div>
        <p>Where "helloworld.py" is the name of your Python file.</p>
        <p>Let's write our first Python file, called helloworld.py, which can be done in any text editor:</p>
        <div class="w3-example">
          <p>helloworld.py</p>
          <div class="w3-code notranslate pythonHigh"><span class="pythoncolor" style="color:black">
            <span class="pythonkeywordcolor" style="color:mediumblue">print</span>(<span class="pythonstringcolor" style="color:brown">"Hello, World!"</span>)<span class="pythonnumbercolor" style="color:red">
          </span> </span></div>
        </div>
        <p>Simple as that. Save your file. Open your command line, navigate to the directory where you saved your file, and run:</p>
        <div class="w3-example">
          <div class="w3-code notranslate w3-black">
            C:\Users\<em>Your Name</em>&gt;python helloworld.py
          </div>
        </div>
        <p>The output should read:</p>
        <div class="w3-example">
          <div class="w3-code notranslate w3-black">
            Hello, World!
          </div>
        </div>
        <p>Congratulations, you have written and executed your first Python program.</p>
        <hr>
        <div id="midcontentadcontainer" style="overflow:auto;text-align:center">
          <div id="adngin-mid_content-0"></div>
        </div>
        <hr>
        <h2>The Python Command Line</h2>
        <p>To test a short amount of code in Python sometimes it is quickest and easiest not to write the code in a file. This is made possible because Python can be run as a command line itself.</p>
        <p>Type the following on the Windows, Mac, or Linux command line:</p>
        <div class="w3-example">
          <div class="w3-code notranslate w3-black">
            C:\Users\<em>Your Name</em>&gt;python
          </div>
        </div>
        <p>Or, if the "python" command did not work, you can try "py":</p>
        <div class="w3-example">
          <div class="w3-code notranslate w3-black">
            C:\Users\<em>Your Name</em>&gt;py
          </div>
        </div>
        <p>From there, you can write any Python, including our hello world example from earlier in the tutorial:</p>
        <div class="w3-example">
          <div class="w3-code notranslate w3-black">
            <span style="opacity:0.5">C:\Users\<em>Your Name</em>&gt;python<br>
            Python 3.6.4 (v3.6.4:d48eceb, Dec 19 2023, 06:04:45) [MSC v.1900 32 bit (Intel)] on win32<br>
            Type "help", "copyright", "credits" or "license" for more information.</span><br>
            &gt;&gt;&gt; print("Hello, World!")
          </div>
        </div>
        <p>Whenever you are done in the Python command line, you can simply type the following to quit the Python command line interface:</p>
        <div class="w3-example">
          <div class="w3-code notranslate w3-black">
            exit()
          </div>
        </div>
    

          




{% endblock %}