{% extends 'courses/python/sttbase.html' %}

{% block title %}Python String Formatting- TeekaY-X{% endblock %}

{% block content %}


<p class="intro">To make sure a string will display as expected, we can format the result with 
the <code class="w3-codespan">format()</code> method.</p>

<hr>

<h2>String format()</h2>

<p>The <code class="w3-codespan">format()</code> method allows you to format selected parts of a string.</p>

<p>Sometimes there are parts of a text that you do not control, maybe 
they come from a database, or user input?</p>
<p>To control such values, 
add placeholders (curly brackets <code class="w3-codespan">{}</code>) in the text, and run the values through the 
<code class="w3-codespan">format()</code> method:</p>

<div class="w3-example">
<h3>Example</h3>
<p>Add a placeholder where you want to display the price:</p>
<div class="w3-code notranslate pythonHigh">
  price = 49<br>txt = &quot;The price is {} dollars&quot;<br>print(txt.format(price))
</div>
</div>

<p>You can add parameters inside the curly brackets to specify how to convert 
the value:</p>

<div class="w3-example">
<h3>Example</h3>
<p>Format the price to be displayed as a number with two decimals:</p>
<div class="w3-code notranslate pythonHigh">
  txt = &quot;The price is {:.2f} dollars&quot;<br>
</div>

</div>



<hr>

<h2>Multiple Values</h2>
<p>If you want to use more values, just add more values to the format() method:</p>

<div class="w3-example">
<div class="w3-code notranslate pythonHigh">
print(txt.format(price, itemno, count))
</div>
</div>

<p>And add more placeholders:</p>

<div class="w3-example">
<h3>Example</h3>
<div class="w3-code notranslate pythonHigh">
  quantity = 3<br>itemno = 567<br>price = 49<br>myorder = &quot;I want {} pieces of 
  item number {} for {:.2f} dollars.&quot;<br>print(myorder.format(quantity, itemno, price))
</div>
</div>

<hr>

<hr>

<h2>Index Numbers</h2>

<p>You can use index numbers (a number inside the curly brackets <code class="w3-codespan">{0}</code>) to be sure the 
values are placed 
in the correct placeholders:</p>

<div class="w3-example">
<h3>Example</h3>
<div class="w3-code notranslate pythonHigh">
  quantity = 3<br>itemno = 567<br>price = 49<br>myorder = &quot;I want {0} pieces of 
  item number {1} for {2:.2f} dollars.&quot;<br>print(myorder.format(quantity, itemno, price))
</div>
</div>

<p>Also, if you want to refer to the same value more than once, use the index number:</p>

<div class="w3-example">
<h3>Example</h3>
<div class="w3-code notranslate pythonHigh">
  age = 36<br>name = &quot;John&quot;<br>txt = &quot;His name is {1}. {1} is {0} years old.&quot;<br>print(txt.format(age, 
  name))
</div>

</div>

<hr>

<h2>Named Indexes</h2>

<p>You can also use named indexes by entering a name inside the curly brackets <code class="w3-codespan">{carname}</code>, 
but then you must use names when you pass the parameter values
<code class="w3-codespan">txt.format(carname = &quot;Ford&quot;)</code>:</p>

<div class="w3-example">
<h3>Example</h3>
<div class="w3-code notranslate pythonHigh">
  myorder = &quot;I have a {carname}, it is a {model}.&quot;<br>print(myorder.format(carname 
  = &quot;Ford&quot;, model = &quot;Mustang&quot;))
</div>
</div>

{% endblock %}
