{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" type="image/png"  href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
 
  
  
   
</head>

<body>
    <div class='w3-sidebar w3-collapse' id='sidenav'>     
        <a href='javascript:void(0)' onclick='close_menu()' class='w3-button w3-hide-large w3-large w3-display-topright' style='right:16px;padding:3px 12px;font-weight:bold;'>&times;</a>
        <h2 class="left">Python Tutorial</h2>
        <a target="_top" href="/courses/python/">Python HOME</a>
        <a class="dropdown-item" href="/courses/python/introduction/">Python Introduction</a>
             <a class="dropdown-item" href="/courses/python/getting_started">Python Getting started</a>
             <a class="dropdown-item" href="/courses/python/python_syntax/">Python Syntax</a>
             <a class="dropdown-item" href="/courses/python/python_comments">Python Comments</a>
             <a class="dropdown-item" href="/courses/python/python_variables/">Python Variables</a>
             <a class="dropdown-item" href="/courses/python/python_datatypes/">Python Data Types</a>
             <a class="dropdown-item" href="/courses/python/python_numbers/">Python Numbers</a>
             <a class="dropdown-item" href="/courses/python/python_casting/">Python Casting</a>
             <a class="dropdown-item" href="/courses/python/python_strings/">Python Strings</a>
             <a class="dropdown-item" href="/courses/python/python_booleans/">Python Booleans</a>
             <a class="dropdown-item" href="/courses/python/python_operators/">Python Operators</a>
             <a class="dropdown-item" href="/courses/python/python_lists/">Python Lists</a>
             <a class="dropdown-item" href="/courses/python/python_tuples/">Python Tuples</a>
             <a class="dropdown-item" href="/courses/python/python_sets/">Python Sets</a>
             <a class="dropdown-item" href="/courses/python/python_dictionaries/">Python Dictionaries</a>
             <a class="dropdown-item" href="/courses/python/python_ifelse/">Python If...Else</a>
                                               
             <a class="dropdown-item" href="/courses/python/python_whileloop/">Python While Loop</a>
             <a class="dropdown-item" href="/courses/python/python_forloop/">Python For Loop</a>
             <a class="dropdown-item" href="/courses/python/python_functions/">Python Functions</a>
             <a class="dropdown-item" href="/courses/python/python_lambda/">Python Lambda</a>
             <a class="dropdown-item" href="/courses/python/python_arrays/">Python Arrays</a>
             <a class="dropdown-item" href="/courses/python/python_classes/">Python Classes and Objects</a>
             <a class="dropdown-item" href="/courses/python/python_inheritance/">Python Inheritance</a>
             <a class="dropdown-item" href="/courses/python/python_iterators/">Python Iterators</a>
             <a class="dropdown-item" href="/courses/python/python_polymorphism/">Python Polymorphism</a>
             <a class="dropdown-item" href="/courses/python/python_scope/">Python Scope</a>
             <a class="dropdown-item" href="/courses/python/python_modules/">Python Modules</a>
             <a class="dropdown-item" href="/courses/python/python_dates/">Python Dates</a>
             <a class="dropdown-item" href="/courses/python/python_math/">Python Math</a>
             <a class="dropdown-item" href="/courses/python/python_json/">Python JSON</a>
             <a class="dropdown-item" href="/courses/python/python_regex/">Python Regex</a>
             <a class="dropdown-item" href="/courses/python/python_pip/">Python PIP</a>
             <a class="dropdown-item" href="/courses/python/python_tryexcept/">Python Try...Except</a>
             <a class="dropdown-item" href="/courses/python/python_userinput/">Python User Input</a>
             <a class="dropdown-item" href="/courses/python/python_stringformatting/">Python String Formatting</a>
             <h2 class="dropdown-item left" >File Handling</h2>
             <a class="dropdown-item" href="/courses/python/python_filehandling/">Python File Handling</a>
             <a class="dropdown-item" href="/courses/python/python_fileopen/">Python File Open</a>
             <a class="dropdown-item" href="/courses/python/python_filewritecreate/">Python File Write/Create</a>
             <a class="dropdown-item" href="/courses/python/python_filedel/">Python File Delete</a>
        <br>
              <br><br>
  
        </div>
        <div class='w3-main w3-light-grey' id='belowtopnav' style='margin-left:250px;'>
  
          <div class='w3-row w3-white'>
            
            <div class='w3-col l10 m12' id='main'>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-darkblue">
            <a class="navbar-brand" href="{% url "index" %}">TeekaY-X</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="coursesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Python Course
                        </a>
                        <div class="dropdown-menu" aria-labelledby="coursesDropdown">
                     <a class="dropdown-item" href="/courses/python/introduction/">Python Introduction</a>
                          <a class="dropdown-item" href="/courses/python/getting_started">Python Getting started</a>
                          <a class="dropdown-item" href="/courses/python/python_syntax/">Python Syntax</a>
                          <a class="dropdown-item" href="/courses/python/python_comments">Python Comments</a>
                          <a class="dropdown-item" href="/courses/python/python_variables/">Python Variables</a>
                          <a class="dropdown-item" href="/courses/python/python_datatypes/">Python Data Types</a>
                          <a class="dropdown-item" href="/courses/python/python_numbers/">Python Numbers</a>
                          <a class="dropdown-item" href="/courses/python/python_casting/">Python Casting</a>
                          <a class="dropdown-item" href="/courses/python/python_strings/">Python Strings</a>
                          <a class="dropdown-item" href="/courses/python/python_booleans/">Python Booleans</a>
                          <a class="dropdown-item" href="/courses/python/python_operators/">Python Operators</a>
                          <a class="dropdown-item" href="/courses/python/python_lists/">Python Lists</a>
                          <a class="dropdown-item" href="/courses/python/python_tuples/">Python Tuples</a>
                          <a class="dropdown-item" href="/courses/python/python_sets/">Python Sets</a>
                          <a class="dropdown-item" href="/courses/python/python_dictionaries/">Python Dictionaries</a>
                          <a class="dropdown-item" href="/courses/python/python_ifelse/">Python If...Else</a>
                                                            
                          <a class="dropdown-item" href="/courses/python/python_whileloop/">Python While Loop</a>
                          <a class="dropdown-item" href="/courses/python/python_forloop/">Python For Loop</a>
                          <a class="dropdown-item" href="/courses/python/python_functions/">Python Functions</a>
                          <a class="dropdown-item" href="/courses/python/python_lambda/">Python Lambda</a>
                          <a class="dropdown-item" href="/courses/python/python_arrays/">Python Arrays</a>
                          <a class="dropdown-item" href="/courses/python/python_classes/">Python Classes and Objects</a>
                          <a class="dropdown-item" href="/courses/python/python_inheritance/">Python Inheritance</a>
                          <a class="dropdown-item" href="/courses/python/python_iterators/">Python Iterators</a>
                          <a class="dropdown-item" href="/courses/python/python_polymorphism/">Python Polymorphism</a>
                          <a class="dropdown-item" href="/courses/python/python_scope/">Python Scope</a>
                          <a class="dropdown-item" href="/courses/python/python_modules/">Python Modules</a>
                          <a class="dropdown-item" href="/courses/python/python_dates/">Python Dates</a>
                          <a class="dropdown-item" href="/courses/python/python_math/">Python Math</a>
                          <a class="dropdown-item" href="/courses/python/python_json/">Python JSON</a>
                          <a class="dropdown-item" href="/courses/python/python_regex/">Python Regex</a>
                          <a class="dropdown-item" href="/courses/python/python_pip/">Python PIP</a>
                          <a class="dropdown-item" href="/courses/python/python_tryexcept/">Python Try...Except</a>
                          <a class="dropdown-item" href="/courses/python/python_userinput/">Python User Input</a>
                          <a class="dropdown-item" href="/courses/python/python_stringformatting/">Python String Formatting</a>
                          <h4 class="dropdown-item" >File Handling</h4>
                          <a class="dropdown-item" href="/courses/python/python_filehandling/">Python File Handling</a>
                          <a class="dropdown-item" href="/courses/python/python_fileopen/">Python File Open</a>
                          <a class="dropdown-item" href="/courses/python/python_filewritecreate/">Python File Write/Create</a>
                          <a class="dropdown-item" href="/courses/python/python_filedel/">Python File Delete</a>
                        
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
       <div class="container">
      <div>
            <div class="row">
               <div class="col-md-12"> 
                    <div class="">
                        <h1>{{ h1 }}</h1>
                        <ul class="pager navbar-fixed-bottom ">
                            <li class="btn btn-primary float-left"><a href="{{prev}}">&laquo;Previous</a></li>
                            <li class="btn btn-primary float-right {{ clas }} "><a href="{{next}}">Next&raquo;</a></li>
                        </ul>
                        <br>
                        <hr>
                        {% block content %}

                        {% endblock %}
                        <ul class="pager navbar-fixed-bottom">
                            <li class="btn btn-primary float-left"><a href="{{prev}}">&laquo;Previous</a></li>
                            <li class="btn btn-primary float-right {{ clas }} "><a href="{{next}}">Next&raquo;</a></li>
                        </ul>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="bg-primary text-center ">
        <div class="container p-4">
            <section class="mb-4">
        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" target='_blank' href="https://www.facebook.com/profile.php?id=61555241895001" role="button"><i class="fab fa-facebook-f"></i></a>
        <!-- Github -->
        <a class="btn btn-primary btn-floating m-1" style="background-color: #333333"  target='_blank'href="https://github.com/asahlumaty1ka" role="button"><i class="fab fa-github"></i></a>
            </section>
            <section class="">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled mb-0">
              <li>
                <a href="{% url 'index' %}" class="text-dark">Home</a>
              </li>
              <li>
                <a href="{% url 'courses' %}" class="text-dark">Courses</a>
              </li>
              <li>
                <a href="{% url 'about' %}" class="text-dark">About</a>
              </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h4 class="text-uppercase">Courses</h4>
                        <ul class="list-unstyled mb-0">
                             
                                          <li>
                <a href="{% url 'coursespy' %}" class="text-dark">Python</a>
              </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
          </div>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            &copy; 2024 Copyright:
            <a class="text-dark" href="/">TeekaY-X.com</a>
        </div>
    </footer>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  
</body>

</html>
