{% extends 'base.html' %}
{% load static %}
{% block title %}Courses - TeekaY-X{% endblock %}
{% block content %}

<style>
    .hero-container {
        background-color: #f8f9fa;
        padding: 100px 0;
    }
    .featured-course {
        margin-bottom: 30px;
    }
    .featured-course img {
        max-width: 100%;
        height: auto;
    }
</style>

<div class="hero-container text-center">
    <h1 class="display-4">Welcome to Your Learning Adventure!</h1>
    <p class="lead">Unlock your potential with our interactive programming courses.</p>
    <a href="/courses/python/" class="btn btn-primary btn-lg">Get Started in Python</a>
</div>

<!-- Featured Courses -->
<div class="container mt-5">
    <h2 class="text-center mb-4">Featured Courses</h2>

    <div class="row">
        <!-- Python Course -->
        <div class="col-md-6">
            <div class="card featured-course">
                <img src="{% static 'images/coursesPYTHON.jpeg' %}" class="card-img-top img-fluid" alt="Python Course">
                <div class="card-body">
                    <h5 class="card-title">Python Course</h5>
                    <p class="card-text">Learn the fundamentals of Python programming and build amazing applications.</p>
                    <a href="{% url 'coursespy' %}" class="btn btn-primary">Enroll Now</a>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}
