{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4380855255756665"
     crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">TeekaY-X</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course-list' %}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog-home' %}">Blog</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-center text-light py-4">
        <div class="container">

            <!-- Social Media Section -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" target='_blank' href="https://www.facebook.com/profile.php?id=61555241895001" role="button"><i class="fab fa-facebook-f"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" target='_blank' href="https://github.com/asahlumaty1ka" role="button"><i class="fab fa-github"></i></a>
            </section>

            <!-- Links Section -->
            <section>
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Links</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="{% url 'index' %}" class="text-light">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'course-list' %}" class="text-light">Courses</a>
                            </li>
                            <li>
                                <a href="{% url 'about' %}" class="text-light">About</a>
                            </li>
                            <li>
                            <a href="{% url 'blog-home' %}" class="text-light"  >Blog</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h4 class="text-uppercase">Courses</h4>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/courses/python/" class="text-light">Python</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </section>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; 2024 Copyright:
            <a class="text-light" href="/">TeekaY-X.com</a>
        </div>
    </footer>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
